#dateLabel {
  font-size: 24;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 50%-100;
  fill: white;
}

#timeLabel {
  font-size: 80;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 50%-25;
  fill: white;
}

#calorieLabel {
  font-size: 24;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 50%+25;
  fill: white;
}

#stepsLabel {
  font-size: 24;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 50%+50;
  fill: white;
}

#heartRateLabel {
  font-size: 24;
  font-family: System-Bold;
  text-anchor: middle;
  x: 50%;
  y: 50%+75;
  fill: white;
}